<div id="container">
  <h3 class="gradient-text">Контакти</h3>
  <div id="contacts-container">
    <div>
      <h5>Ви можете зв'язатися з нами через вкладку Написати нам</h5>
      <h5>Або подзвоніть нам за номером телефону чи напишіть лист:</h5>
      <p>+38(044)-123-12-12</p>
      <p>+38(044)-123-12-12</p>
      <p>+38(044)-123-12-12</p>
      <p>alkasar@invest.com</p>
      <div id="socials">
        <h5>Ми у соціальних мережах:</h5>
        <a href="https://instagram.com/">Instagram</a>
        <a href="https://facebook.com/">Faceboook</a>
      </div>
    </div>

    <div>
      <h5>Наш офіс:</h5>
      <h5>м.Харків, пл.Свободи 7, 123 офіс, 61101</h5>
      <img src="./img/gmap.png" id="map-img" />
    </div>
  </div>
</div>
