<div id="container">
  <h2 class="gradient-text">Напишіть нам!</h2>
  <h3 class="gradient-text">Ми вам зателефонуємо</h3>
  <div>
    <form id="form">
      <label for="fname">* Ваше ім'я:</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Ірина"
        required
      /><br />
      <label for="lname">* Ваш номер телефону:</label>
      <input
        type="text"
        id="pnumber"
        name="pnumber"
        placeholder="+380654321234"
        required
      /><br />
      <label for="lname">Код об'єкта:</label>
      <input type="text" id="kode" name="kode" placeholder="1234567" /><br />
      <label for="lname">Коментарі:</label>
      <textarea
        type="text"
        id="comment"
        name="comment"
        placeholder="Ваші коментарі оператору"
      ></textarea
      ><br />
      <button type="submit">Відправити</button><br />
      <p>* - Обов'язкові поля</p>
    </form>
  </div>
</div>
