<div class="page-container">
  <div class="page-img-container">
    <img class="page-main-img" src="../img/ap1.jpg" />
    <div class="page-sub-img-container">
      <img class="page-sub-img" src="../img/ap1.jpg" />
      <img class="page-sub-img" src="../img/ap1.jpg" />
      <img class="page-sub-img" src="../img/ap1.jpg" />
      <img class="page-sub-img" src="../img/ap1.jpg" />
    </div>
  </div>
  <div class="page-container-desc">
    <h3 class="page-title">Оренда сучасної квартири</h3>
    <div class="page-property">
      <p class="page-property-title">Адреса:</p>
      вул.Шевченка
    </div>
    <div class="page-property">
      <p class="page-property-title">Ціна:</p>
      10 000 грн
    </div>
    <div class="page-property">
      <p class="page-property-title">Площа:</p>
      43 м²
    </div>
    <div class="page-property">
      <p class="page-property-title">Кількість кімнат:</p>
      1
    </div>
    <div class="page-property">
      <p class="page-property-title">Поверх:</p>
      3
    </div>
    <div class="page-property">
      <p class="page-property-title">Ремонт:</p>
      Євроремонт
    </div>
    <div class="page-property">
      <p class="page-property-title">Власник:</p>
      ХХХХХХХХХХХХХХХХХХ
    </div>
    <div class="page-property">
      <p class="page-property-title">Номер телефону власника:</p>
      ХХХХХХХХХХХХ
    </div>
    <p>Для отримання інформації про власника - напишіть нам</p>
  </div>
</div>
<div class="page-description">
  <p class="page-property-title">Опис:</p>
  Оренда квартири в центрі міста з євроремонтом. Наявна вся техніка, посуд.
  Можна з тваринками. 5 хвилин пішки до метро, чудова транспортна розв'язка.
  Господар привітний. Перегляд квартири з 1.06. У разі будь-яких питань -
  звертайтесь до нас. Оренда квартири в центрі міста з євроремонтом. Наявна вся
  техніка, посуд. Можна з тваринками. 5 хвилин пішки до метро, чудова
  транспортна розв'язка. Господар привітний. Перегляд квартири з 1.06. У разі
  будь-яких питань - звертайтесь до нас.
</div>
<div class="button-container">
  <button ui-sref="contact-us" class="contact-button">
    Сподобався варіант? Напишіть нам
  </button>
</div>
