#container {
  display: flex;
  flex-direction: column;
}

#contacts-container {
  display: flex;
  flex-direction: row;
  gap: 4vw;
  padding: 3vw;
}

a {
  text-decoration: none;
}

#map-img {
  width: 44vw;
}
